@import url("https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Foundation&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Edu NSW ACT Foundation", cursive;
}
html,
body {
  height: 100%;
  padding: 2rem;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3rem;
}
p {
  padding: 2rem;
  font-size: 2rem;
}
section.section-video {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  box-shadow: 5px 5px;
}
